@import "../../styles/variables.scss";

.faqs {
  width: 100%;
  padding: 64px calc((100vw - 1280px) / 2);
  background-color: $White-gray;

  & > span {
    padding: 0 64px;
    font-size: 40px;
    font-weight: bold;
  }

  &-item {
    padding: 0 64px;
    z-index: 2;

    &:not(:last-child) {
      margin-top: 32px;
    }

    &-title {
      font-size: 28px;
      font-weight: bold;
    }

    &-content {
      font-size: 20px;

      & span {
        font-weight: bold;
      }

      & > a {
        color: $Purple;
      }
    }
  }

  &-decoration {
    width: 100%;
    justify-content: flex-end;
    z-index: 1;

    & > img {
      width: 240px;
      // height: stretch;
      // height: intrinsic;
    }
  }
}

@media (max-width: 1024px) {
  .faqs {
    & > span {
      padding: 0 32px;
      font-size: 40px;
      font-weight: bold;
    }

    &-item {
      padding: 0 32px;

      &:not(:last-child) {
        margin-top: 24px;
      }
    }
  }
}

@media (max-width: 768px) {
  .faqs {
    & > span {
      padding: 0 8px;
    }

    &-item {
      padding: 0 8px;

      &:not(:last-child) {
        margin-top: 16px;
      }

      &-title {
        font-size: 24px;
        font-weight: bold;
      }

      &-content {
        font-size: 16px;
      }
    }

    &-decoration {
      margin-top: 0;
    }
  }
}
