// Black Colors
$Black: #000000;
$Black-dark: #222222;

// White Colors
$White: #ffffff;
$White-gray: #f0f0f0;

$Silver: #c0c0c0;
$Platinum: #e5e4e2;

// Yellow Colors
$Warning: #fad121;
$Warning-dark: #ebc10d;

$Bronze: #a57164;
$Gold: #ffd700;

// Purple Colors
$Purple: #5c33f8;
$Purple-dark: #5027ec;
$Purple-light: #6449ca;

// Pink Colors
$Pink: #fd17fd;

// Red Colors
$Magenta: #d80073;
